.contact-ui {
  height: 100%;
  .contact-container {
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .contacts {
      margin-top: 2rem;
      display: flex;
      justify-content: center;
      gap: 2rem;
      a {
        font-size: 3rem;
        cursor: pointer;
        transition: transform 0.25s ease-in-out;
        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
}
