.settings-ui {
  .settings-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    .setting-field {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  }
}
