taskbar {
  width: 100%;
  height: var(--glb-taskbar-height);
  background-color: var(--glb-color-charcoal);
  padding: 0 1rem;
  border-bottom: 1px solid var(--glb-border-color);
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
  z-index: 100;
  user-select: none;
  .title-name {
    font-size: 1.25rem;
    color: var(--glb-color-title);
    cursor: pointer;
  }
  .pc-shortcut {
    height: 100%;
    display: flex;
    gap: 1rem;
    li {
      height: 100%;
      color: var(--glb-color-text);
      display: flex;
      align-items: center;
      cursor: pointer;
      &:hover {
        color: var(--glb-color-title);
      }
    }
  }
  .mobile-menu {
    font-size: 1.5rem;
    color: var(--glb-color-text);
    margin-left: auto;
    display: none;
    &:hover {
      color: var(--glb-color-title);
    }
  }
}
.mobile-shortcut {
  font-size: 1rem;
  background-color: var(--glb-color-charcoal);
  border: 1px solid var(--glb-border-color);
  display: none;
  flex-direction: column;
  position: absolute;
  top: var(--glb-taskbar-height);
  right: 1rem;
  z-index: 99;
  transition: all 0.25s ease-in-out;
  transform: translateY(-100%);
  &.show {
    transform: translateY(0%);
  }
  li {
    height: 100%;
    color: var(--glb-color-text);
    padding: 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    &:hover {
      color: var(--glb-color-title);
    }
  }
}

@media screen and (max-width: 768px) {
  taskbar {
    .pc-shortcut {
      display: none;
    }
    .mobile-menu {
      display: inline-block;
    }
  }
  .mobile-shortcut {
    font-size: 0.9rem;
    display: flex;
  }
}
