@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./font.scss";
@import "./markdown.scss";
@import "./highlight.scss";

:root {
  --glb-taskbar-height: 2.5rem;
  --glb-bg-header: #231f20;
  --glb-color-text: #ebc490;
  --glb-color-title: #e07a5f;
  --glb-border-color: #c3c3c3;
  --glb-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

[data-theme="normal"] {
  --glb-bg-header: #231f20;
  --glb-color-text: #ebc490;
  --glb-color-title: #e07a5f;
}
[data-theme="theme-1"] {
  --glb-bg-header: #0e2431;
  --glb-color-text: #f9b248;
  --glb-color-title: #fc3a52;
}
[data-theme="theme-2"] {
  --glb-bg-header: #1d1716;
  --glb-color-text: #a55233;
  --glb-color-title: #f3bc77;
}
[data-theme="theme-3"] {
  --glb-bg-header: #42240c;
  --glb-color-text: #fdba9a;
  --glb-color-title: #f64b3c;
}
[data-theme="theme-4"] {
  --glb-bg-header: #8f1537;
  --glb-color-text: #f6aad0;
  --glb-color-title: #fef2f2;
}
[data-theme="theme-5"] {
  --glb-bg-header: #1d1716;
  --glb-color-text: #a55233;
  --glb-color-title: #ffffff;
}

body {
  width: 100vw;
  height: 100vh;
  font-size: 16px;
  font-family: "Source Code Pro", monospace;
  overflow: hidden;
  ::-moz-selection {
    color: var(--glb-color-title);
    background: var(--glb-color-text);
  }
  ::selection {
    color: var(--glb-color-title);
    background: var(--glb-color-text);
  }
  > canvas {
    z-index: 100;
  }
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }
}
